node_modules/
node_modules
**/node_modules/
**/node_modules
src/
.git/
.gitignore
*.log
.eslintrc
.prettierrc
tsconfig.json
build.js
smithery.yaml
Dockerfile
README.md
**/.DS_Store
**/.idea
**/.vscode 